@font-face {
    font-family: 'the_only_exceptionregular';
    src: url('fonts/theonlyexception-webfont.woff2') format('woff2'),
         url('fonts/theonlyexception-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asdfghjklmedium';
    src: url('fonts/asdfghjkl-webfont.woff2') format('woff2'),
         url('fonts/asdfghjkl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin:0;
    padding:0;
}

body {
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    font-family: 'century gothic';
    font-size: 16px;  
    color: #7c7c7c;
    cursor: default;
}

main {
    background-image: url("images/background3.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 650px;
}

section#home {
    background-image: url("images/background1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 25%;
}

section#home p#logo img {
    max-width: 366px;
    width: 25%;
    height: auto;
}

section#home p#arrow img {
    max-width: 54px;
    width: 5%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 15%;
}

section#about {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
}

section#about img {
    width: 15%;
    height: auto;
    max-width: 226px;
    float: left;
    margin-top: 3%;
    margin-left: 20%;
}

section#about section#description {
    margin-left: 38%;
    margin-right: 20%;
    padding-top: 4%;
    padding-bottom: 3%;
}

section#about section#description h2 {
    font-size: 35px;
    font-family: 'the_only_exceptionregular';
}

section#about section#description p {
    font-size: 16px;
    padding-bottom: 2%;
} 

section#lines {
    width: 100%;
    margin-top: 10px;
    border-top: 10px solid;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    border-color: rgba(255, 255, 255, 0.5);
}

section#gallery ul {
    margin-top: 10%;
    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: 10%;
}

section#gallery ul li {
    list-style: none;
    display: inline;
}

section#gallery ul li {
    cursor: pointer;
}

section#gallery ul li img {
    margin: 15px;
    max-width: 200px;
    min-width: 100px;
    height: auto;
    width: 20%;
}

section#gallery ul li {
    opacity: 0.7;
}

section.gallery {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    max-width: 724px;
    min-width: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 10%;
    position: absolute;
    top: 0;
}

section.gallery img.banner {
    width: 100%;
}

section.gallery h3{
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 3%;
}

section.gallery h4 {
    font-family: 'asdfghjklmedium';
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
    clear: both;
}

section.gallery p {
    margin-bottom: 3%;
}

section#cottontails img#logo {
    float: left;
    width: 20%;
    padding-bottom: 3%;
    padding-top: 2%;
}

section#cottontails p#logop {
    float: right;
    width: 75%;
    padding-top: 3%;
}

section#cottontails p#graphic {
    margin-left: 10%;
    padding-top: 1%;
}

section#cottontails p#graphicbook {
    text-align: center;
} 

section#cottontails p#graphicbook img {
    width: 80%;
}

section#cottontails p#process {
    text-align: center;
    padding-top: 2%;
} 

section#cottontails p#process img {
    width: 90%;
}

section#cottontails p#finalproductp {
    float: left;
    width: 45%;
    padding-top: 3%;
}

section#cottontails img#finalproduct {
    float: right;
    width: 50%;
}

section#daycamp2014 h4 {
    padding-bottom: 2%;
}

section#daycamp2014 p#yearbook {
    text-align: center;
} 

section#daycamp2014 p#yearbook img {
    width: 85%;
}

section#daycamp2014 section#decor {
    margin: auto;
    margin-bottom: 0;
    width: 90%;
}

section#daycamp2014 section#decor img {
    width: 100%;
}

section.gallery p.small {
    font-size: 12px;
    text-align: center;
}

section#daycamp2015 h4 {
    padding-bottom: 2%;
}

section#daycamp2015 p#yearbook2015 {
    text-align: center;
    margin-bottom: 2%;
}

section#daycamp2015 p#yearbook2015 img {
    width: 85%;
}
section#daycamp2015 p#tshirt {
    text-align: center;
}

section#daycamp2015 p#tshirt img {
    width: 90%;
}

section#connected h4 {
    margin-bottom: 2%;
}

section#connected img#connectedproduct {
    float: left;
    width: 40%;
    padding-bottom: 2%;
}

section#connected p#productp {
    width: 60%;
    padding-top: 3%;
    float: right;
}

section#connected p#logop {
    float: left;
    width: 60%;
}

section#connected p#logop img {
    width: 100%;
    padding-bottom: 3%;
}

section#connected img#connectedinfo {
    float: right;
    width: 30%;
    margin-top: -10%;
}

section#connected section#connectedcolors {
    float: left;
    width: 60%;
}

section#connected section#connectedcolors img {
    width: 100%;
}

section#connected section#target {
    float: right;
    width: 25%;
}

section#connected section#target ul{
    padding-bottom: 2%;
}

section#connected section#target ul li {
    list-style: none;
    margin-left: 10%;
}

section#connected section#target h4 {
    padding-bottom: 2%;
    padding-top: 10%;
}

section#connected p#connectedvideo {
    text-align: center;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

section#connected p#connectedvideo iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
}

section#barista h4 {
    padding-bottom: 2%;
    text-align: center;
}

section#barista p#musicvideo {
    text-align: center;
    margin-bottom: 30%;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

section#barista p#musicvideo iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
}

section#myevents p#myeventshome {
    float: left;
    width: 25%;
    text-align: center;
}

section#myevents p#myeventshome img {
    width: 80%;
}

section#myevents p#myeventsintro {
    width: 70%;
    float: right;
    margin-top: 5%;
}

section#myevents section#process {
    float: left;
    width: 40%;
    padding-top: 3%;
}

section#myevents section#process h5 {
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 2%;
}

section#myevents section#process ul li {
    list-style: none;
    padding-left: 10%;
}

section#myevents section#process p {
    padding-left: 10%;
}

section#myevents section#inspo {
    width: 55%;
    float: right;
}

section#myevents section#inspo img {
    width: 100%;
}

section#myevents section#sketches {
    clear: both;
    width: 45%;
    float: left;
    padding-top: 2%;
    padding-bottom: 3%;
}

section#myevents section#sketches img {
    width: 100%;
}

section#myevents section#mockup {
    width: 45%;
    float: right;
    padding-top: 4%;
}

section#myevents section#mockup img {
    width: 100%;
}

section#myevents p#prototype {
    text-align: center;
    margin-top: 3%
}

section#myevents p#prototype img {
    width: 45%;
}

section#leftpadding {
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    height: 1000px;
}

section#rightpadding {
    width: 25%;
    position: fixed;
    right: 0;
    top: 0;
    height: 1000px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 5px;
}

footer section.left{
    float: left;
    text-align: left;
    padding-left: 2%;
    font-size: 12px;
}

footer section.right{
    float: right;
    padding-right: 2%;
    font-size: 12px;
}

footer section.left a:link {
    text-decoration: none;
    color: #7c7c7c;
}

footer section.left a:visited {
    text-decoration: none;
    color: #7c7c7c;
}

footer section.left a:hover {
    text-decoration: none;
    color: #fff;
}

footer section.left span:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

.carousel {
    position: relative
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    line-height: 1
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }
    .carousel-inner>.item.active.right,
    .carousel-inner>.item.next {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    .carousel-inner>.item.active.left,
    .carousel-inner>.item.prev {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    .carousel-inner>.item.active,
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x
}

.carousel-control:focus,
.carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 50%;
    margin-right: -10px
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1
}

.carousel-control .icon-prev:before {
    content: '\2039'
}

.carousel-control .icon-next:before {
    content: '\203a'
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.carousel-caption .btn {
    text-shadow: none
}

@media screen and (min-width:768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -10px
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -10px
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px
    }
    .carousel-indicators {
        bottom: 20px
    }
}

/* .carousel-fade .carousel-inner2 .item2 {
            transition-property: opacity;
        }
        
.carousel-fade .carousel-inner2 .item2,
        .active.left,
        .active.right {
            opacity: 0;
        }

.carousel-fade .carousel-inner2 .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
*/


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container img {
    width: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}